<div class="container">
<div class="row">
	<h2><strong>Features & Analysis</strong></h2>
</div>
<div class="col-md-6">
	<div class="thumbnail">
		<img src="./../../../img/blog1.jpg">
		<div class="caption">
			<p class="lead">
				<a href="#">Weather for the week ahead</a>
			</p>
			<p>Low pressure remains nearby over the next few days, but who will see the rain?</p>
		</div>
	</div>
</div>
<div class="col-md-3">
	<div class="thumbnail">
		<img src="./../../../img/blog2.jpg" class="image-responsive">
		<div class="caption">
			<p class="lead">
				<a href="#">Tropical Storm update near Arctic Region</a>
			</p>
			<p>Noru brings more heavy rain for southern Japan whilst Franklin forms in the Caribbean.</p>
		</div>
	</div>
</div>
<div class="col-md-3">
	<div class="thumbnail">
		<img src="./../../../img/blog3.jpg" class="image-responsive">
		<div class="caption">
			<p class="lead">
				<a href="#">Grim Weather Warning for Europe's Future</a>
			</p>
			<p>Weather-related deaths could surge by 2100 if nothing is done to curb climate change, scientists say.</p>
		</div>
	</div>
</div>
</div>
