<navbar></navbar>
<router-outlet></router-outlet>
<footer class="footer">
	<div class="container">
		<div class="row">
		<div class="col-md-6">
			<img src="./../../../favico.png" class="imgmain">
		</div>
			
			<div class="col-md-6">
				<strong>Copyright © 2017 BBC.</strong> The BBC is not responsible for the content of external sites. Read more.
			</div>
			<div class="col-md-7">
			<ul class="list-inline">
					<li class="list-inline-item">
						Terms of Use
					</li>
					<li class="list-inline-item">Terms of Policy</li>
					<li class="list-inline-item">Privacy Policy</li>
				
				</ul>
			</div>
		</div>
	</div>
</footer>
